In [3]:
import yfinance as YahooFinance;

In [77]:
data_2018 = YahooFinance.download("SPY", start = "2018-01-01", end = "2018-12-31", auto_adjust = True)
data_2018.head()

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker             SPY         SPY         SPY         SPY       SPY
Date
2018-01-02  239.273941  239.309559  238.054295  238.446010  86655700
2018-01-03  240.787460  240.938816  239.443166  239.443166  90070400
2018-01-04  241.802338  242.291995  240.849785  241.437357  80636400
2018-01-05  243.413651  243.538272  242.104974  242.603515  83524000
2018-01-08  243.858917  244.019157  243.022074  243.315847  57319200

In [68]:
data_2018.reset_index(inplace=True)
data_2018.head()

Price        Date       Close        High         Low        Open    Volume
Ticker                    SPY         SPY         SPY         SPY       SPY
0      2018-01-02  239.273941  239.309559  238.054295  238.446010  86655700
1      2018-01-03  240.787460  240.938816  239.443166  239.443166  90070400
2      2018-01-04  241.802338  242.291995  240.849785  241.437357  80636400
3      2018-01-05  243.413651  243.538272  242.104974  242.603515  83524000
4      2018-01-08  243.858917  244.019157  243.022074  243.315847  57319200

In [ ]:
# Creating the features by dropping the Open price and the Close price for the Machine Learning models to train on

feature_for_open_price_prediction = data_2018.drop(columns=[('Open', 'SPY')])
feature_for_close_price_prediction = data_2018.drop(columns=[('Close', 'SPY')])

print(f"Table without Open prices for ML model: \n' {feature_for_open_price_prediction} \n")
print(f"Table without Close prices for ML model: \n' {feature_for_close_price_prediction} \n")

Table without Open prices for ML model:
' Price            Close        High         Low     Volume
Ticker             SPY         SPY         SPY        SPY
Date
2018-01-02  239.273941  239.309559  238.054295   86655700
2018-01-03  240.787460  240.938816  239.443166   90070400
2018-01-04  241.802338  242.291995  240.849785   80636400
2018-01-05  243.413651  243.538272  242.104974   83524000
2018-01-08  243.858917  244.019157  243.022074   57319200
...                ...         ...         ...        ...
2018-12-21  218.354813  226.528386  217.701652  255345600
2018-12-24  212.585251  218.481829  212.521756  147311600
2018-12-26  223.326111  223.326111  212.059111  218485400
2018-12-27  225.040680  225.240244  216.776397  186267300
2018-12-28  224.750366  228.061516  223.571048  153100200

[250 rows x 4 columns]

Table without Close prices for ML model:
' Price             High         Low        Open     Volume
Ticker             SPY         SPY         SPY        SPY
Date
2018-01-02  239.309559  238.054295  238.446010   86655700
2018-01-03  240.938816  239.443166  239.443166   90070400
2018-01-04  242.291995  240.849785  241.437357   80636400
2018-01-05  243.538272  242.104974  242.603515   83524000
2018-01-08  244.019157  243.022074  243.315847   57319200
...                ...         ...         ...        ...
2018-12-21  226.528386  217.701652  223.834102  255345600
2018-12-24  218.481829  212.521756  216.848928  147311600
2018-12-26  223.326111  212.059111  214.063954  218485400
2018-12-27  225.240244  216.776397  220.051267  186267300
2018-12-28  228.061516  223.571048  226.410482  153100200

[250 rows x 4 columns]

In [85]:
# Creating the targets (Open price and Close price) for the machine learning models to predict:

target_open_price_to_predict = data_2018['Open','SPY']
target_close_price_to_predict = data_2018['Close', 'SPY']

print(f"Open price target column: {target_open_price_to_predict} \n")
print(f"Close price target column: {target_close_price_to_predict} \n")

Open price target column: Date
2018-01-02    238.446010
2018-01-03    239.443166
2018-01-04    241.437357
2018-01-05    242.603515
2018-01-08    243.315847
                 ...
2018-12-21    223.834102
2018-12-24    216.848928
2018-12-26    214.063954
2018-12-27    220.051267
2018-12-28    226.410482
Name: (Open, SPY), Length: 250, dtype: float64

Close price target column: Date
2018-01-02    239.273941
2018-01-03    240.787460
2018-01-04    241.802338
2018-01-05    243.413651
2018-01-08    243.858917
                 ...
2018-12-21    218.354813
2018-12-24    212.585251
2018-12-26    223.326111
2018-12-27    225.040680
2018-12-28    224.750366
Name: (Close, SPY), Length: 250, dtype: float64

In [ ]:
# ML models should buy if predicted closing price of previous day > opening price of the day

def buy_or_sell(prediction_data_set):
    for day in range(0, len(prediction_data_set)):
        if prediction_data_set['predicted_close'][day] > prediction_data_set['open_price'][day]:
            prediction_data_set['action'] = 'buy'
        elif prediction_data_set['predicted_close'][day] > prediction_data_set['open_price'][day]:
             prediction_data_set['action'] = 'sell'
        else:
            prediction_data_set['action'] = 'buy'