In [3]:
import yfinance as YahooFinance;

In [46]:
data_2018 = YahooFinance.download("SPY", start = "2018-01-01", end = "2018-12-31")
data_2018.head()

C:\Users\Sahm9\AppData\Local\Temp\ipykernel_20212\3371156677.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data_2018 = YahooFinance.download("SPY", start = "2018-01-01", end = "2018-12-31")
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker             SPY         SPY         SPY         SPY       SPY
Date
2018-01-02  239.273941  239.309559  238.054295  238.446010  86655700
2018-01-03  240.787460  240.938816  239.443166  239.443166  90070400
2018-01-04  241.802338  242.291995  240.849785  241.437357  80636400
2018-01-05  243.413651  243.538272  242.104974  242.603515  83524000
2018-01-08  243.858917  244.019157  243.022074  243.315847  57319200

In [47]:
data_2018.reset_index(inplace=True)
data_2018.head()

Price        Date       Close        High         Low        Open    Volume
Ticker                    SPY         SPY         SPY         SPY       SPY
0      2018-01-02  239.273941  239.309559  238.054295  238.446010  86655700
1      2018-01-03  240.787460  240.938816  239.443166  239.443166  90070400
2      2018-01-04  241.802338  242.291995  240.849785  241.437357  80636400
3      2018-01-05  243.413651  243.538272  242.104974  242.603515  83524000
4      2018-01-08  243.858917  244.019157  243.022074  243.315847  57319200