In [1]:
import yfinance as YahooFinance;

In [2]:
data_2018 = YahooFinance.download("SPY", start = "2018-01-01", end = "2018-12-31", auto_adjust = True)
data_2018.head()

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker             SPY         SPY         SPY         SPY       SPY
Date
2018-01-02  239.274078  239.309696  238.054432  238.446147  86655700
2018-01-03  240.787476  240.938831  239.443181  239.443181  90070400
2018-01-04  241.802292  242.291949  240.849739  241.437311  80636400
2018-01-05  243.413696  243.538318  242.105019  242.603560  83524000
2018-01-08  243.858856  244.019096  243.022014  243.315786  57319200

In [3]:
data_2018.reset_index(inplace=True)
data_2018.head()

Price        Date       Close        High         Low        Open    Volume
Ticker                    SPY         SPY         SPY         SPY       SPY
0      2018-01-02  239.274078  239.309696  238.054432  238.446147  86655700
1      2018-01-03  240.787476  240.938831  239.443181  239.443181  90070400
2      2018-01-04  241.802292  242.291949  240.849739  241.437311  80636400
3      2018-01-05  243.413696  243.538318  242.105019  242.603560  83524000
4      2018-01-08  243.858856  244.019096  243.022014  243.315786  57319200

In [4]:
# Creating the features by dropping the Open price and the Close price for the Machine Learning models to train on

feature_for_open_price_prediction = data_2018.drop(columns=[('Open', 'SPY')])
feature_for_close_price_prediction = data_2018.drop(columns=[('Close', 'SPY')])

print(f"Table without Open prices for ML model: \n' {feature_for_open_price_prediction} \n")
print(f"Table without Close prices for ML model: \n' {feature_for_close_price_prediction} \n")

Table without Open prices for ML model:
' Price        Date       Close        High         Low     Volume
Ticker                    SPY         SPY         SPY        SPY
0      2018-01-02  239.274078  239.309696  238.054432   86655700
1      2018-01-03  240.787476  240.938831  239.443181   90070400
2      2018-01-04  241.802292  242.291949  240.849739   80636400
3      2018-01-05  243.413696  243.538318  242.105019   83524000
4      2018-01-08  243.858856  244.019096  243.022014   57319200
..            ...         ...         ...         ...        ...
245    2018-12-21  218.354797  226.528370  217.701637  255345600
246    2018-12-24  212.585266  218.481845  212.521772  147311600
247    2018-12-26  223.326080  223.326080  212.059082  218485400
248    2018-12-27  225.040680  225.240244  216.776397  186267300
249    2018-12-28  224.750320  228.061470  223.571002  153100200

[250 rows x 5 columns]

Table without Close prices for ML model:
' Price        Date        High         Low        Open     Volume
Ticker                    SPY         SPY         SPY        SPY
0      2018-01-02  239.309696  238.054432  238.446147   86655700
1      2018-01-03  240.938831  239.443181  239.443181   90070400
2      2018-01-04  242.291949  240.849739  241.437311   80636400
3      2018-01-05  243.538318  242.105019  242.603560   83524000
4      2018-01-08  244.019096  243.022014  243.315786   57319200
..            ...         ...         ...         ...        ...
245    2018-12-21  226.528370  217.701637  223.834086  255345600
246    2018-12-24  218.481845  212.521772  216.848943  147311600
247    2018-12-26  223.326080  212.059082  214.063925  218485400
248    2018-12-27  225.240244  216.776397  220.051267  186267300
249    2018-12-28  228.061470  223.571002  226.410435  153100200

[250 rows x 5 columns]

In [5]:
# Creating the targets (Open price and Close price) for the machine learning models to predict:

target_open_price_to_predict = data_2018['Open','SPY']
target_close_price_to_predict = data_2018['Close', 'SPY']

print(f"Open price target column: {target_open_price_to_predict} \n")
print(f"Close price target column: {target_close_price_to_predict} \n")

Open price target column: 0      238.446147
1      239.443181
2      241.437311
3      242.603560
4      243.315786
          ...
245    223.834086
246    216.848943
247    214.063925
248    220.051267
249    226.410435
Name: (Open, SPY), Length: 250, dtype: float64

Close price target column: 0      239.274078
1      240.787476
2      241.802292
3      243.413696
4      243.858856
          ...
245    218.354797
246    212.585266
247    223.326080
248    225.040680
249    224.750320
Name: (Close, SPY), Length: 250, dtype: float64

In [ ]:
# ML models should buy if predicted closing price of previous day > opening price of the day

def buy_or_sell(prediction_data_set):
    for day in range(0, len(prediction_data_set)):
        if prediction_data_set['predicted_close'][day] > prediction_data_set['open_price'][day]:
            prediction_data_set['action'] = 'buy'
        elif prediction_data_set['predicted_close'][day] < prediction_data_set['open_price'][day]:
             prediction_data_set['action'] = 'sell'
        else:
            prediction_data_set['action'] = 'buy'
    return prediction_data_set

In [ ]:
# Calculate loss or gain each day based on ML model

def calculate_predicted_profit_or_loss(prediction_data_set):
    for day in range(0, len(prediction_data_set)):
        prediction_data_set['profit_or_loss'][day] = prediction_data_set['predicted_close'][day] - prediction_data_set['open_price'][day]
    return prediction_data_set